body {
    background-color: #ffffff;
}

h1 {
    text-align: center;
}

li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2;
}

  .container {
    display: flex;
    align-items: flex-start;
}
.image {
    height: 40vw; /* Adjust as needed */
}

.boxes {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.box {
    width: 5vw;
    height: 5vw;
    margin-bottom: 10px;
}

.box:nth-child(1) { background-color: #3db5d6; }
.box:nth-child(2) { background-color: #e9e949; }
.box:nth-child(3) { background-color: #faad2d; }
.box:nth-child(4) { background-color: #7d6a40; }
.box:nth-child(5) { background-color: #e9de9d; margin-bottom: 0px; }
